.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

#stats-column {
  background-color: rgb(235, 223, 199);
  height: 100vh;
  width: 30vw;
  text-align: center;
}
#game-column {
  background-color: rgb(132, 172, 178);
  height: 100vh;
  width: 70vw;
  display: flex;
  align-items: center;
}
#title-box {
  height: 30vh;
  display: flex;
  border-bottom-style: solid;
  margin-left: auto;
}
.score-row {
  display: flex;
  justify-content: space-between;
  align-items:
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#word{
  font-size: 5em;
  height: 1.5em;
  border-color: rgb(207,149,106);
  border-width: 5px;
  border-style: solid;
  width: 4.5em;
}

button{
  font-size: 2em;
  height: 1.5em;
  width: 6.5em;
  border-radius: .5em;
}

#buttons{
  display: flex;
  flex-direction: column;
}

#game-top{
  display: flex;
  flex-direction: row;
  margin: 4em;
}










#clear{
  background-color: rgb(155,73,85);
}

#submit{
  background-color: rgb(207,149,106);
}

.letter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1.5em;
  width: 1.5em;
  border-style: solid;
  border-width: 5px;
  margin: 5px;
  font-size: 5em;
  background-color: rgb(235, 223, 199);
  border-color: black;
}

.selected-letter{
  background-color: rgb(207,149,106);
  color: rgb(155,73,85);
  border-color: rgb(155,73,85)
}





/*everything below this line is temporary*/
